{% extends 'base.html' %}
{% block content %}
{% load static %}

<body>
    <img src="../static/images/US-Map.png" alt="Site Logo" class="background-map"> 
    <img src="../static/images/Logo.png" alt="Site Logo" class="vote-logo">
  
    <h2 class="intro-text">An easy way to learn & note your views about the legislative issues on your ballot.</h2>

    <div class="section">
        <!-- <form method="post" class="form"> -->
            <label class="page-text1">
                Zip Code 
            </label>
            <input class="zip">
            <label class="page-text2">
                Language 
            </label>
            <input class="language">
            <a href="{% url 'start' % } "><button type="submit" class="start" > Create your votenote</button> </a>
        <!-- </form> -->
    </div>
  
</body>
{% endblock %}
