{% extends 'base.html' %}

{% block content %}
{% load static %}

<h1>Home</h1>
<h1>Note</h1>
<h1>note</h1>

<h2>An easy way to learn & note your views about the legislative issues on your ballot.</h2>

<div class="section">
    <!-- <form method="post" class="form"> -->
        <label class="label">
            Zip Code <input>
        </label>
        <label class="label">
            Language <input>
        </label>
        <a href="{% url 'start' % } "><button > Create your votenote</button> </a>
    <!-- </form> -->
</div>


{% endblock %}