{% extends 'base.html' %}

{% block content %}
{% load static %}


<div class="section-content">
    <h1 class="section-content-text">Here is your votenote</h1>
    <body class="section-content">
        <img src="../static/images/US-Map.png" alt="Site Logo" class="background-map"> 
    </body>
    
    <div class="section-content-flex">
        {% for proposition in propositions %}
            
            {% if proposition.yes_count > proposition.no_count %}
                 <div class="section-content"> 
                    <p class="yellow-text" style="margin: 0; display: inline;">YES</p>
                    <p style="margin: 0; display: inline;">PROP {{ proposition.number }}  {{ proposition.whatIs }}</p>
                </div>
            {% elif  proposition.no_count > proposition.yes_count%}
                <div class="section-content"> 
                    <p class="yellow-text" style="margin: 0; display: inline;">NO</p>
                    <p style="margin: 0; display: inline;">PROP {{ proposition.number }}  {{ proposition.whatIs }}</p>
                </div>
            {%else %}
                <div class="section-content"> 
                    <p class="yellow-text" style="margin: 0; display: inline;">I'M NOT SURE</p>
                    <p style="margin: 0; display: inline;">PROP {{ proposition.number }}  {{ proposition.whatIs }}</p>
                </div>
            {% endif %}
            <br>
        {% endfor %}
    </div>
</div>

<div class="move-me">
    <button type="submit" class="confirm" > looks good! </button>
<div>


{% endblock %}