{% extends 'base.html' %}

{% block content %}
{% load static %}

<h1>Here's your votenotes</h1>
<div class="section-content">

    {% for proposition in propositions %}
        <div>
            
            {% if proposition.yes_count > proposition.no_count %}
                <h4>YES {{ proposition.number }}  {{ proposition.whatIs }}</h4>
            {% elif  proposition.no_count > proposition.yes_count%}
                <h4>NO {{ proposition.number }}  {{ proposition.whatIs }}</h4>
            {%else %}
                <h4>I'M NOT SURE {{ proposition.number }}  {{ proposition.whatIs }}</h4>
            {% endif %}
        
            <p>{{ proposition.number }} :: YES COUNT: {{ proposition.yes_count }} || NO COUNT: {{ proposition.no_count }}</p>
            
        </div>
    {% endfor %}
</div>

{% endblock %}