{% extends 'base.html' %}

{% block content %}
{% load static %}

<h1>Proposition X (Show)</h1>
<div>
    <a href="{% url 'index' %} "><button > View your votenote</button> </a>
</div>
<!-- SIDEBAR -->
<div class="sidebar-container">
    <ul class="sidebar-ul">
    <!-- CITY NAMES -->
    {% for proposition in side_bar_proposition_numbers.all %}  
        <a href={% url 'show' proposition.id %}>
            <li class="sidebar-item">
                <span class="sidebar-text">{{proposition.number}}</span>
            </li>
        </a>
    {% endfor %}
    </ul>
</div>

<!-- Prop Info -->
<div id="{{ proposition.number }}">
    <h1>Proposition</h1>
    <h2>{{ proposition.number }}</h2>
    <h3>{{proposition.whatIs}}</h3>
    <form action="" method="POST">
        {% csrf_token %} <!-- csrf token for basic security -->
        <button class="noteAddYes" name="noteAddYes" type="submit">
            <h3>YES</h3>
            <p>{{proposition.yes}}</p>
        </button>
        <button class="noteAddNo" name="noteAddNo" type="submit">
            <h3>NO</h3>
            <p>{{proposition.no}}</p>
        </button>
    </form>
</div>




{% endblock %}