
:root {
  background: #0f263a;
}

.shadows {
	box-shadow: 1px 2px 1px black;
}
.shadows:hover {
	box-shadow: 1px 1px 1px black;
}

main {
  background: #0f263a;
}

.background-map {
  position: absolute;
  width: 1191.49px;
  height: 795px;
  left: 124.11px;
  top: 163px;
}

.vote-logo {
  position: absolute;
  width: 159.51px;
  height: 123.1px;
  left: 634.49px;
  top: 154.12px;
}


.intro-text {
  position: absolute;
  width: 782px;
  height: 95px;
  left: 329px;
  top: 375px;
  font-family: Questrial;
  font-style: normal;
  font-weight: normal;
  font-size: 30px;
  line-height: 40px;
  text-align: center;
  color: #ffffff;
}

/* "Zip Code" Text*/
.page-text1 {
  position: absolute;
  width: 290px;
  height: 31px;
  left: 415px;
  top: 556px;
  font-family: Questrial;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 31px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #ffffff;
}

/* "Language" Text*/
.page-text2 {
  position: absolute;
  width: 286px;
  height: 31px;
  left: 740px;
  top: 556px;
  font-family: Questrial;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 31px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #ffffff;
}

/* Zip Input Field */
.zip {
  position: absolute;
  width: 290px;
  height: 62px;
  left: 415px;
  top: 596px;

  background: #ffffff;
  border: 1.82388px solid #6b6b6b;
  box-sizing: border-box;
  border-radius: 10.9433px;
}

/* Language Input Field */
.language {
  position: absolute;
  width: 286px;
  height: 62px;
  left: 740px;
  top: 596px;
  background: #ffffff;
  border: 1.82388px solid #6b6b6b;
  box-sizing: border-box;
  border-radius: 10.9433px;
}

.start {
  position: absolute;
  width: 400px;
  height: 60px;
  left: 520px;
  top: 735px;

  background: #ed9e01;
  border-radius: 77.716px;
}

/* mini vote logo on show page "/propositions/1" */

.mini-vote-logo {
position: absolute;
width: 83.46px;
height: 64.4px;
left: 74px;
top: 61px;
}

.cal-flag {
position: absolute;
width: 121px;
height: 77px;
right: 33px;
top: 51px;
}

.ca-gen-election {
position: absolute;
width: 471px;
height: 115px;
left: 790px;
top: 51px;
font-family: Questrial;
font-style: normal;
font-weight: normal;
font-size: 20px;
line-height: 26px;
text-align: right;
text-transform: uppercase;
color: #FFFFFF;
}


.props-container {
position: absolute;
width: 1052px;
height: 758px;
left: 242px;
top: 168px;
background: #182F43;
border-radius: 20px;
}

.top-section {
position: absolute;
width: 922px;
height: 289px;
left: 44px;
top: 39px;

}

.prop-text {
position: relative;
top: 0px;
left: 6px;
font-family: Questrial;
font-style: normal;
font-weight: normal;
font-size: 28px;
line-height: 40px;
color: #FFFFFF;

}


.magic-prop-num{
position: absolute;
top: 55px;
left: 0px;
font-size: 144px; 
line-height: 72px; 
color: #ED9E01;
}

.prop-info{
position: absolute;
width: 910px;
height: 116px;
left: 56px;
right: 232px;
top: 212px;
bottom: 528px;
font-family: Questrial;
font-style: normal;
font-weight: normal;
font-size: 32px;
line-height: 40px;
color: #FFFFFF;

}

.sidebar-container {
position: absolute;
width: 111px;
height: 720px;
left: 74px;
top: 187px;
}

.yes-button {
position: absolute;
width: 380px;
height: 250px;
right: 546px;
top: 386px;
border: 2px solid #FFFFFF;
box-sizing: border-box;
background: #182F43;
border-radius: 20px;
color: #FFFFFF; font-size: 22px;
}

.yes-button:hover {
border: 4px solid #EBB62B;
box-sizing: border-box;
filter: drop-shadow(8px 8px 12px rgba(12, 36, 56, 0.25));
border-radius: 20px;
}

.yes-button:active {
background: #EBB62B;
box-shadow: 8px 8px 12px rgba(12, 36, 56, 0.25);
border-radius: 20px;
color: black;     
}

.no-button {
position: absolute;
width: 380px;
height: 250px;
left: 546px;
top: 386px;
border: 2px solid #FFFFFF;
box-sizing: border-box;
background: #182F43;
border-radius: 20px;
color: #FFFFFF; font-size: 22px;
}

.no-button:hover {
border: 4px solid #EBB62B;
box-sizing: border-box;
filter: drop-shadow(8px 8px 12px rgba(12, 36, 56, 0.25));
border-radius: 20px;
}

.no-button:active {
background: #EBB62B;
box-shadow: 8px 8px 12px rgba(12, 36, 56, 0.25);
border-radius: 20px;
color: black;   
}